html{
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1{
  font-family: 'Montserrat';
}
h2{
  font-family: 'Open Sans';
}
h3{
  font-size: clamp(.8rem, -0.875rem + 8.333vw, 1.8rem);
  font-family: 'Poppins';
}

p{
  font-family: 'Open Sans';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.emphatic{
  color: #00acea;
}

@keyframes logoUp{
  from{
      margin-top: 2rem;
  }
  to{
      margin-top: 1rem;
  }
}
@keyframes logoDown{
  from{
      margin-top: 1rem;
  }
  to{
      margin-top: 2rem;
  }
}
@keyframes menuIn{
  from{
      opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes menuOut{
  from{
      opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes burgerOpen{
  from{
      transform: rotate(0deg);
  }
  to{
    transform: rotate(90deg);
  }
}
@keyframes burgerClose{
  from{
      transform: rotate(90deg);
  }
  to{
    transform: rotate(0deg);
  }
}

.item-title{
  color: rgb(30,30,74);
  margin-bottom: 0;
  font-size: 1.1rem;
  /* border: 1px solid green; */
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

.flip-box {
  background-color: transparent;
  height: 170px;
  width: auto;
  perspective: 1000px;
  user-select: none;
  margin-bottom: 0;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-bottom: 0;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front {
  color: black;
  box-sizing: border-box;
  width: auto;
}
.flip-box-front img{
  width: 100%;
  margin: 0;
  /* border-bottom: 1px solid whitesmoke; */
}

.flip-box-back {
  color: black;
  transform: rotateY(180deg);
  padding: 1em;
  font-family: 'Open Sans';
  margin-bottom: 0;
}

.portfolio-text{
  padding-left: 1rem;
  border: 1px solid transparent;
  background-color: white;
  width: 100%;
  margin-top: 0;
  }

.item-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
}

.item-details i{
  padding-right: 1rem;
}